<div class="register-container">

  <div class="logo-container">
    <img src="assets/images/logo.png" alt="Logo do NutriTrack">
  </div>

  <h2>Crie sua Conta no NutriTrack</h2>
  <p>Preencha os campos abaixo para começar a monitorar sua nutrição.</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nome">Nome Completo:</label>
      <input type="text" id="nome" formControlName="nomeCompleto">
      <div *ngIf="registerForm.get('nomeCompleto')?.invalid && registerForm.get('nomeCompleto')?.touched" class="error-message">
        Nome é obrigatório e precisa ter no mínimo 3 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" formControlName="email">
       <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        Por favor, insira um e-mail válido.
      </div>
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" formControlName="senha">
      <div *ngIf="registerForm.get('senha')?.invalid && registerForm.get('senha')?.touched" class="error-message">
        A senha é obrigatória e precisa ter no mínimo 8 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" formControlName="dataNascimento">
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="altura">Altura (cm):</label>
        <input type="number" id="altura" formControlName="alturaEmCm">
      </div>

      <div class="form-group">
        <label for="peso">Peso (Kg):</label>
        <input type="number" id="peso" formControlName="pesoEmKg">
      </div>
    </div>

    <div class="form-group">
      <label>Gênero:</label>
      <div class="radio-group">
        <label *ngFor="let g of generos">
          <input type="radio" [value]="g.valor" formControlName="genero"> {{ g.texto }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="nivelAtividade">Nível de Atividade Física:</label>
      <select id="nivelAtividade" formControlName="nivelDeAtividade">
        <option [ngValue]="null" disabled>Selecione uma opção</option>
        <option *ngFor="let nivel of niveisAtividade" [ngValue]="nivel.valor">
          {{ nivel.texto }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="objetivo">Seu Principal Objetivo:</label>
      <select id="objetivo" formControlName="objetivo">
        <option [ngValue]="null" disabled>Selecione uma opção</option>
        <option *ngFor="let obj of objetivos" [ngValue]="obj.valor">
          {{ obj.texto }}
        </option>
      </select>
    </div>

    <div *ngIf="errorMessage" class="error-message-geral">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Criar Conta</button>
  </form>
</div>